.card-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(6px) rem(12px) rem(6px) rem(12px);
    gap: rem(8px);
    max-height: rem(36px);
    min-width: rem(256px);


    border-radius: rem(8px);
    border: 2px solid transparent;

    background-color: #22272b;

    h3 {
        font-size: 14px;
        font-weight: 400;
        margin: 0;

        color: $txt-clr;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    }

    a{
        text-decoration: none; 
    }


    &:hover {
        box-shadow:
            rgba(0, 0, 0, 0) 0px 0px 0px 1px,
            rgba(3, 4, 4, 0.5) 0px 1px 1px 0px,
            rgba(3, 4, 4, 0.5) 0px 0px 1px 0px;

        border: 2px solid #99c8ff;
        cursor: pointer;
    }
}