.card-list {
    display: flex;
    flex-direction: column;

    >li {
        margin-bottom: rem(8px);
        padding-inline: rem(8px);
    }

    >li:last-child {
        margin-bottom: 0;
    }

    &.dragging-over {
        border-radius: rem(8px);
    }
}