.card-dates {
	display: flex;
	flex-wrap: wrap;
	gap: rem(4px);
	font-size: 0.75rem;

	.date-btn {
		position: relative;
		background-color: #3b444c;
		font-size: 14px;
		padding: 5px 13px;
		border-radius: 3px;
		margin-top: 2px;
		margin-left: 4px;
		font-weight: 500;

		svg {
			height: 16px;
			width: 16px;
			margin-top: -4px;
		}

		span {
			margin: auto 3px auto 8px;
			padding: 0 4px;
			border-radius: 2px;
			font-size: 12px;
			line-height: 16px;
			&.overdue {
				background-color: #42221f;
				color: #fd9891;
			}
			&.complete {
				background-color: #4bce97;
				color: #1d2125;
			}
		}
	}
}
