.filter-modal {
  position: fixed;
  // top: 100px;
  // right: 4px;
  // width: 384px;
  left: 30px;
  min-height: 350px;
  background-color: #282e33;
  border-radius: 8px;
  box-shadow: $ds-shadow-overlay;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;

  z-index: 100;
  color: #9fadbc;

  .modal-header {
    display: grid;
    position: relative;
    grid-template-columns: 32px 1fr 32px;
    align-items: center;
    padding: 4px 8px;
    text-align: center;
    color: #9fadbc;

    h2 {
      display: block;
      position: relative;
      grid-column: 1 / span 3;
      grid-row: 1;
      height: 40px;
      margin: 0;
      padding: 0 32px;
      overflow: hidden;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.003em;
      line-height: 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .close-btn {
      grid-column: 3;
      grid-row: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      z-index: 100;
      .close-btn-icon {
        height: 16px;
        width: 16px;
        display: flex;
        align-items: center;
        color: #9fadbc;
      }

      &:hover {
        background-color: #3d474f;
        color: $app-title;
        text-decoration: none;
      }
    }
  }

  .filter-modal-container {
    padding: 0 12px 12px 12px;
    max-height: 472px;
    color:  #9fadbc;
     width: 384px;

    // width: 280px;
    overflow-y: auto;
    overflow-x: hidden;

    p {
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      margin-top: 16px;
      margin-bottom: 8px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        // padding: 8px;
        padding-right: 0;
        cursor: pointer;
      }
    }

    label {
      margin: 0;
      padding: 10px 0;
      padding-right: 0;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      display: inline-flex;
      position: relative;
      align-items: center;
      line-height: 16px;
      width: 100%;
    }

    .filter-section {
      padding: 0;
      input.search-by-txt {
        width: 100%;
        padding: 8px 12px;
        background-color: #22272b;
        border: 0.2px solid #738496;
        border-radius: 3px;
        color: #738496;
        transition: border 0.2s ease-in-out;
        box-shadow: inset 0 0 0 1px #091e4224;

        &:focus {
          box-shadow: inset 0 0 0 2px #85b8ff;
          outline: none;
        }

        &::placeholder {
          color: #8c9baa;
        }
      }
    }

    p.filter-op-desc {
      margin-top: 8px;
      margin-bottom: 4px;
      font-size: 11px;
      line-height: 14px;
    }

    .filter-section-members-filter {
      padding: 0;

      .members-title {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      label.checkbox-label,
      .loggedin-member {
        input.checkbox {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          transition-property: background-color, border-color, box-shadow;
          transition-duration: 85ms;
          transition-timing-function: ease;
        }
      }
      .chackbox-icon {
        position: relative;
        padding: 0;
        margin: 0;
      }
    }
    .member-input-container {
      flex-grow: 1;
      min-width: 0;
      margin-left: 16px;
      .member-info {
        font-size: 14px;
        font-weight: 400;
      }
      .members-icon-container {
        flex-shrink: 0;
        margin-right: 8px;
        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #323940;
          span {
            display: inline-block;
            line-height: 1;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .member-input-field {
        display: flex;
        flex-grow: 1;
        align-items: center;
        min-width: 0;
      }
    }

    .filter-section-labels-filter {
      padding: 0;
      .checkbox-label {
        padding-top: 0;
      }
      .label-icon-container {
        flex-shrink: 0;
        margin-right: 8px;
        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #323940;
          span {
            display: inline-block;
            line-height: 1;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .labels-input-container {
        flex-grow: 1;
        min-width: 0;
        margin-left: 16px;

        .labels-info {
          font-size: 14px;
          font-weight: 400;
        }
        .labels-icon-container {
          flex-shrink: 0;
          margin-right: 8px;
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #323940;
            span {
              display: inline-block;
              line-height: 1;
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
      .labels-input-field {
        display: flex;
        flex-grow: 1;
        align-items: center;
        min-width: 0;

        .label-color {
          display: inline-block;
          position: relative;
          min-width: 48px;
          height: 32px;
          margin-bottom: 0;
          padding: 0 12px;
          overflow: hidden;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 500;
          line-height: 32px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: white;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #424242;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #686868;
      border: 1px solid #424242;
      position: relative;
      z-index: 10000;
      border-radius: 6px;
    }
  }
}
