.member-picker {
	header {
		display: grid;
		grid-template-columns: 32px 1fr 32px;
		grid-template-rows: max-content;

		padding: 0;
		text-align: center;

		background-color: inherit;
		color: inherit;

		h4 {
			display: block;
			grid-column: 1 / span 3;
			grid-row: 1;

			margin: 0;
			font-size: 14px;
		}

		button {
			grid-column: 3;
			grid-row: 1;
			display: flex;

			border-radius: 8px;
			color: inherit;
			padding: 8px;

            justify-self: end;

            svg {
                height: 16px;
                width: 16px;
            }

			&:hover {
				background-color: rgb(69 80 90);
			}
		}
	}

    .search {
        box-sizing: border-box;
        border: none;
        outline: none;

        line-height: 20px;
        // font-display: swap;
        // transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        padding: 8px 12px;
        border-radius: 3px;
        background-color: var(--ds-background-input, #ffffff);
        box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
        width: 100%;
        margin-bottom: 0;
    }

    .members-list {
        margin-top: 15px;

        thead {
            padding-bottom: 10px;
        }
    }


	.card-member-img {
	    width: rem(23px);
	    height: rem(23px);
	    border-radius: 50%;
	    object-fit: cover;
	}
}
