.board-index {
  height: calc(100vh - 48px);
  overflow-y: auto;
  scrollbar-color: #7b7b7b transparent;

  .board-conainer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;

    .workspace-content {
      margin: 40px 16px 0;
      max-width: 825px;
      min-width: 288px;
      width: 100%;

      .workspace-header {
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 850px;
        margin: 0 auto;
        padding: 24px;

        .logo-container {
          display: flex;
          align-items: center;

          .workspace-logo-container {
            flex: 0 0 auto;
            width: rem(54px);
            height: rem(54px);
            margin-right: 10px;
            border-radius: rem(4px);
            font-size: rem(30px);
            display: inline-flex;
            background: $app-workspace-logo-color;

            .workspace-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              width: 100%;
              height: 100%;
              color: black;
            }
          }
          .title {
            padding: 0;
            line-height: 0.5;

            h2 {
              margin-inline-start: 5px;
              font-size: 18px;
              color: $app-title;
              line-height: 15px;
              font-weight: bold;
            }

            .workspace-subtitle {
              color: $app-title;
              margin-inline-start: 5px;
              vertical-align: top;
              font-size: 12px;

          
            }
          }
        }
      }

      .all-boards {
        padding-left: 14px;
        .boards-container1,
        .boards-container2,
        .boards-container-stared-list {
          max-width: 1266px;
          padding: 0 0 20px;

          .boards-page-board-heder {
            display: flex;
            margin: 0 0 0 30px;
            padding: 0 0 11px;
            position: relative;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            .one-p-icon {
              width: 32px;
              height: 32px;
              background-color: transparent;
              border-radius: 4px;
              font-size: 14px;
              position: absolute;
              left: -30px;
              top: 2px;

              svg {
                font-size: 24px;
                color: $app-title;
              }
            }

            h3 {
              display: inline-block;
              flex: 1;
              font-size: 16px;
              margin: 3px 0 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color:  $app-title;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 10px; /* Slim width */

    }
  
    &::-webkit-scrollbar-track {
      background-color: #2c333a; /* Transparent track */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #7b7b7b; /* Light grey thumb color */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #7b7b7b; /* Slightly darker grey on hover */
    }
  
    &::-webkit-scrollbar-thumb:active {
      background-color: #7b7b7b; /* Darker grey on active state */
    }
  }

}

.saparete-boards {
  background-color: #333c43;
  border: 0;
  height: 1px;
  margin: 16px 0;
  padding: 0;
  width: 100%;
}
