.card-details-outlet {
	display: grid;
	z-index: 999;
	position: fixed;
	inset: 0;

	background-color: hsla(252, 100%, 1%, 0.055);
	overflow-y: auto;

	.card-details {
		justify-self: center;
		display: grid;
		grid-template-areas:
			'i    h         btn'
			'.    usropt    opt'
			'des   des      opt';

		grid-template-columns: auto 1fr auto;
		grid-template-rows: 70px 56px auto;

		min-height: 100vh;
		border-radius: 12px;
		border-color: transparent;
		background-color: #323940;
		color: #b6c2cf;

		position: absolute;
		// z-index: 1000;

		inset: 0;
		margin-top: 48px;
		max-width: 770px;

		width: 100%;
		height: 845px;
		padding: 18px;
		gap: 12px;
		overflow: auto;
		// row-gap: 30px;

		button {
			background-color: transparent;
			color: #b6c2cf;
			font-weight: 600;

			&:hover {
				background-color: rgb(69 80 90);
			}
		}

		.close {
			display: block;
			grid-area: btn;
			// max-height: max-content;
			top: 0;
			justify-self: right;
			margin: -8px;
			border-radius: 50%;
			// font-size: 22px;
			width: 35px;
			height: 36px;
			padding: 0;
		}

		.title {
			display: flex;
			justify-content: space-between;
		}

		.edit-des {
			position: relative;
			background-color: #3b444c;
			font-size: 14px;
			padding: 7px 11px;
			border-radius: 4px;
		}

		.header {
			background-color: transparent;
			color: #b6c2cf;
			align-items: flex-start;
			padding: 0;
			display: block;

			h3 {
				grid-area: h;
				padding-top: 4px;
				font-weight: 500;
				font-size: 21px;
			}

			input {
                margin: 0;
                padding-inline: rem(10px);
                line-height: rem(32px);
                font-size: rem(18px);
                font-weight: bold;
                color: white;
                background-color: transparent;
                border: none;
                width: 100%;
            }

			div {
				display: block;
				padding: 5px 0;

				.group-title {
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 700;
				}
			}
			
		}

		.opt-card {
			display: grid;
			grid-template-columns: 24px auto;
			background-color: #3b444c;
			width: 167px;
			padding: 6px 12px;
			margin-bottom: 8px;
			border-radius: 3px;
			font-weight: 600;

			&:hover {
				background-color: rgb(69 80 90);
			}

			svg {
				width: 16px;
				height: 16px;
				align-self: center;
			}
		}

		.actions {
			grid-area: act;
			thead {
				font-size: 12px;
				padding-bottom: 2px;
			}
		}

		.icon {
			max-block-size: 0.1em;
		}


		.opt-bar {
			grid-area: opt;

			span {
				margin: 1em;
			}
		}

		.actions {
			ul {
				margin-top: 4px ;
			}
		}

		.user-opt {
			grid-area: usropt;
		}

		.description {
			display: grid;
			grid-area: des;

			grid-template-areas:
				'di  desh       '
				'.   txt        ';

			grid-template-columns: subgrid;
			grid-template-rows: min-content 325px;

			gap: 10px;
			row-gap: 12px;

			&.icon {
				display: block;
				grid-area: di;

				svg {
					font-size: 24px;
				}
			}

			h4 {
				grid-area: desh;
				font-size: 16px;
				margin-bottom: 0;
				padding-top: 2px;
			}


			.grdatxt {
				grid-area: txt;
				margin-top: 8px;
				align-self: baseline;
				width: 100%;
				border-radius: 3px;
			}

			textarea {
				min-height: 274px;

				background-color: #22272b;
				border: 1px solid #8c9baa;

				padding-inline: 20px;
				padding-top: 8px;

				font-weight: 400;
				font-size: 1em;

				resize: none;
				overflow: auto;
				// scrollbar-color: black;  // Y NOT WORKKKK

				&:focus {
					outline: none;
					border: 2px solid #579dff;
				}

				&::placeholder {
					color: #8c9baa;
				}
			}

			.no-des-plchldr {
				padding: 8px 12px 32px;
				height: 60px;
				background-color: #3b444c;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					background-color: rgb(69 80 90);
				}
			}

			.desbtns {
				grid-area: txt;
				bottom: 0;
				position: relative;
				align-self: end;
				padding-top: 2px;

				button {
					line-height: 2rem;
					margin-top: 10px;
					padding-inline: 12px;
					font-weight: 30px;
					border-radius: 3px;
					border: none;
					margin-inline-end: 8px;
				}

				.save {
					background-color: #579dff;
					color: #22272b;

					&:hover {
						background-color: #85b8ff;
					}
				}
			}
		}

		// .activity {
		//     &.icon {
		//         grid-area: i2;
		//     }
		// }

		// .user {
		//     &.avatar {
		//     }
		// }

		// .input {
		// }

		// .avatar {
		// }

		// .comments {
		// }
	}
}