.backdrop {
    z-index: 999;
    position: fixed;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 0%, 4%, 0.05);
}

.card-details {
    display: grid;
    grid-template-areas:
        "i    h         btn"
        ".    usropt    opt"
        "des   des      opt"
        "des   des      opt"
        "des   des      act"
        "i3   t3        act"
        "i4   t4        act";

    grid-template-columns: auto 1fr auto;
    min-height: 600px;
    border-radius: 12px;
    border-color: transparent;
    background-color: #323940;
    color: #b6c2cf;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    margin-top: 45px;
    max-width: 768px;
    width: 100%;
    padding: 20px;
    gap: 15px;
    // row-gap: 30px;

    button {
        grid-area: btn;
        display: block;
        max-width: fit-content;
        max-height: fit-content;
        top: 0;
        justify-self: right;
        margin: -5px -5px 0 0;
        padding: 0;
        background-color: transparent;
        color: #b6c2cf;
        border-radius: 3px;

        &:hover {
            background-color: rgb(69 80 90);
        }
    }

    .header {
        background-color: transparent;
        color: #b6c2cf;
        align-items: flex-start;
        padding: 0;
        display: block;

        h3 {
            grid-area: h;
            display: block;
            margin: 0;
            padding: 0;
            font-weight: 500;
        }
        div {
            display: block;
            padding: 5px 0;
        }

        &.icon {
            grid-area: i;

            svg {
                width: auto;
                height: auto;
                line-height: 14px;
                vertical-align: text-top;
            }
        }
    }

    .opt-card {
        display: flex;
        background-color: #3b444c;
        width: 170px;
        padding: 6px 12px;
        margin-bottom: 8px;
        border-radius: 3px;

        &:hover {
            background-color: rgb(69 80 90);
        }
    }

    .actions {
        grid-area: act;
        thead {
            font-size: 12px;
            padding-bottom: 2px;
        }
    }

    .icon {
        max-block-size: 0.1em;
    }

    .name {
        padding-inline: 7px;
    }
    .opt-bar {
        grid-area: opt;

        span {
            margin: 1em;
        }
    }

    .user-opt {
        grid-area: usropt;
    }

    .description {
        display: grid;
        grid-area: des;

        grid-template-areas:
            "di  desh       "
            ".   txt        "
            ".   desbtns    ";

        grid-template-columns: auto 1fr;
        grid-template-rows: min-content;

        gap: 15px;
        row-gap: 8px;

        &.icon {
            display: block;
            grid-area: di;

            svg {
                width: fit-content;
                height: auto;
                line-height: 14px;
                vertical-align: super;
            }
        }

        h4 {
            grid-area: desh;
            font-size: 16px;
            // margin-bottom: 0;
            padding-top: 2px;
        }

        .grdatxt {
            grid-area: txt;
        }

        textarea {
            align-self: baseline;
            width: 100%;
            min-height: 100px;
            padding: inline 11px;
            padding-top: 8px;

            border-radius: 3px;
            border-color: transparent;

            font-weight: 400;
            font-size: 1em;

            &::placeholder {
                color: #8c9baa;
            }
        }

        .desbtns {
            grid-area: desbtns;
            .save {
                margin-top: 10px;
                padding-inline: 11px;
                line-height: 2rem;
                background-color: #579dff;
                color: #22272b;
                font-weight: 30px;
                border-radius: 3px;
                border: none;
                &:hover {
                    background-color: #85b8ff;
                }
            }
        }
    }

    // .activity {
    //     &.icon {
    //         grid-area: i2;
    //     }
    // }

    // .user {
    //     &.avatar {
    //     }
    // }

    // .input {
    // }

    // .avatar {
    // }

    // .comments {
    // }
}
