.board-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(59, 91, 81);


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: rem(56px);
        padding-inline: rem(16px);

        background-color: aqua;
        color: #172b4d;

        h3 {
            font-size: rem(18px);
            margin: 0;
        }

        .left-header {
            display: flex;
            align-items: center;
            gap: rem(4px);

            &>* {
                padding: rem(4px);
                border-radius: rem(4px);
            }

            &>*:hover {
                background-color: rgba(25, 38, 60, 0.08);
            }
        }
    }

    main {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
        align-items: flex-start;

        padding-inline: rem(12px);


        .add-group {
            display: flex;
            align-items: center;
            min-height: rem(44px);
            min-width: rem(272px);

            margin-block-start: rem(14px);
            margin-inline-start: rem(12px);

            border-radius: rem(12px);
            background-color: #ffffff3d;
            color: #172b4d;

            &:hover {
                background-color: #091e4214;
                cursor: pointer;
            }
        }
    }
}