.card-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: rem(12px);
    padding-block: rem(8px);
    gap: rem(8px);
    max-height: rem(36px);
    min-width: rem(256px);


    border-radius: rem(8px);
    border: 2px solid transparent;
    background-color: #22272b;


    h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    &:hover {
        box-shadow:
            rgba(0, 0, 0, 0) 0px 0px 0px 1px,
            rgba(3, 4, 4, 0.5) 0px 1px 1px 0px,
            rgba(3, 4, 4, 0.5) 0px 0px 1px 0px;
            
        // border-radius: rem(8px);
        border: 2px solid #5c6bc0;
        cursor: pointer;
    }
}