.background-selector {
  display: flex;
  flex-direction: column;
  align-items: center;


  .background-preview-container {
    padding: 12px;
  .background-preview {
    height: 120px;
    width: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
  }
}

  .background-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Four equal columns
    grid-gap: 5px; // Space between grid items
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;

    .background-item {
      width: 60px;
      height: 40px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5px;
      position: relative;


      &.selected {
        border-color: blue;
      }

      .checkmark {
        position: absolute;
        top: 5px;
        right: 5px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 2px 5px;
      }
    }

    .options-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 40px;
      background: #333;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
