.modal-overlay {
  // inset: 0;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 1000;
  
  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-board-modal {
    color: #b6c2cf;
    box-shadow: rgb(57, 66, 74) 0px 0px 0px 1px, rgba(3, 4, 4, 0.36);
    box-sizing: border-box;
    width: 304px;
    background-color: #282e33;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-height: 450px;
    max-height: 550px;

    header.modal-header {
      display: grid;
      position: relative;
      grid-template-columns: 32px 1fr 32px;
      align-items: center;
      padding: 4px 8px;
      text-align: center;

      .title {
        color: #9fadbc;
        display: block;
        position: relative;
        grid-column: 1 / span 3;
        grid-row: 1;
        height: 40px;
        margin: 0;
        padding: 0 32px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.003em;
        line-height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      button.close-btn {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        color: #9fadbc;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 1000;
      }
    }
    .modal-body {
      padding: 16px;
      padding-top: 0;
      max-height: 465px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #424242;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #686868;
        transition: background-color 0.3s ease;
        border: 1px solid #424242;
        position: relative;
        z-index: 10000;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #7b7b7b !important;
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: #bbb7b7;
      }


      .title-input-container .title {
        padding-top: 10px;
        &::after {
          content: ' *';
          color: red;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .title-input-container,
      .workspace-input-container {
        margin-bottom: 16px;

        .title {
          display: block;
          margin-bottom: 6px;
          font-weight: 600;
        }

        .select {
          background-color: rgb(34, 39, 43);
          color: #b6c2cf;
          width: 100%;
          padding: 8px;
          border: 0.7px solid rgb(182, 194, 207);
          border-radius: 4px;
          font-size: 14px;

          &.invalid {
            border-color: #e74c3c;
            &:focus {
              border-color: #e74c3c;
            }
          }
          &:focus {
            border: 1px solid #579dff;
            outline: none;
          }
        }

        .error-msg {
          font-size: 12px;
          margin-top: 4px;
          display: flex;
          align-items: center;
        }
        .error-msg-hidden {
          padding: 10px;
          display: flex;
          align-items: center;
        }
      }

      .save-btn {
        margin: 16px 0 0;
        width: 100%;
        padding: 12px;
        background-color: #579dff;
        color: #1d2125;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;

        &:disabled {
          background-color: #2c333a;
          color: #b6c2cf46;
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &.no-overlay {
    background-color: transparent; /* Remove the dark overlay */
  }
}
