.modal-overlay {
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #b6c2cf;

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-board-modal {
    box-sizing: border-box;
    width: 304px;
    background-color: #282e33;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: rgb(57, 66, 74) 0px 0px 0px 1px, rgba(3, 4, 4, 0.36);

    header.modal-header {
      display: grid;
      position: relative;
      grid-template-columns: 32px 1fr 32px;
      align-items: center;
      padding: 4px 8px;
      text-align: center;
      // background-color: #44546f;
      // color: #ffffff;

      .title {
        color: #9fadbc;
        display: block;
        position: relative;
        grid-column: 1 / span 3;
        grid-row: 1;
        height: 40px;
        margin: 0;
        padding: 0 32px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.003em;
        line-height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;

        button.close-btn {
          grid-column: 3;
          grid-row: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 8px;
          color: #9fadbc;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
    .modal-body {
      padding: 16px;
      padding-top: 0;
      hr {
        background-color: #091e4224;
        height: 1px;
        margin: 16px 0;
        padding: 0;
        width: 100%;
      }

      .title-input-container .title {
        &::after {
          content: ' *';
          color: red;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .title-input-container,
      .workspace-input-container {
        margin-bottom: 12px;
        
        .title {
          display: block;
          margin-bottom: 6px;
          font-weight: 600;
          &.invalid {
            border-color: #e74c3c;
          }
        }
        
        .select {
          background-color: rgb(34, 39, 43);
          color: #b6c2cf;
          width: 100%;
          padding: 8px;
          border: 0.7px solid rgb(182, 194, 207);
          border-radius: 4px;
          font-size: 14px;
        }

        .error-msg {
          color: #e74c3c;
          font-size: 12px;
          margin-top: 4px;
          display: flex;
          align-items: center;
        }
      }

      .save-btn {
        margin: 16px 0 0;
        width: 100%;
        padding: 10px;
        background-color: #579dff;
        color: #1d2125;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;

        &:disabled {
          background-color: #2c333a;
          color: #b6c2cf46;
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &.no-overlay {
    background-color: transparent; /* Remove the dark overlay */
  }
}
