.board-preview-card {
  width: rem(190px);
  height: rem(96px);
  border-radius: rem(3px);
  background: $app-workspace-logo-color;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px;
  cursor: pointer;
  position: relative;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); // Initially transparent
    transition: background-color 0.3s ease;
    pointer-events: none;

  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.2); // Darken on hover
  }

  .board-prew-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem(80px);
    padding: 0;
    background-color: transparent;

    .board-preview-title {
      display: inline-block;
      flex: 0 0 auto;
      font-size: 16px;
      font-weight: 650;
      max-height: 40px;
      overflow: hidden;
      width: 100%;
      word-wrap: break-word;
      line-height: 20px;

      .title {
        color: #ffffff;
      }
    }

    .board-preview-action {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 100%;
      height: 20px;

      .star-btn-container {
        opacity: 0;
        transform: translateZ(0);
        transition: opacity 0.3s ease, width 0.3s ease, transform 0.15s ease, margin 0.3s ease;
        font-size: 14px;
        height: 14px;
        width: 24px;
        line-height: 18px;

        .star-btn {
          background: transparent;
          border: none;
          cursor: pointer;
          color: #fff;
          display: block;
          position: relative;
        }
      }
    }
  }

  &:hover .board-preview-action .star-btn-container {
    opacity: 1;
  }
}

.board-preview-card.isStarred .board-prew-container .star-btn-container {
  opacity: 1 !important;
  width: 24px !important;
  transform: none !important;

  .star-icon {
    color: #e2b203;
  }
}

@media (max-width: 768px) {
  .board-preview-card {
    width: unset !important;
    height: inherit;
  }
}