.board-preview-card {
  width: rem(191px);
  height: rem(96px);
  border-radius: rem(3px);
  background: linear-gradient(#006644, #00875a);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px 8px;
  // position: relative;
  cursor: pointer;


  .board-prew-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // position: relative;
    height: rem(80px);
    background-color: transparent;

    .board-preview-title {
      display: inline-block;
      flex: 0 0 auto;
      font-size: rem(16px);
      font-weight: 700;
      max-height: rem(40px);
      .title {
        overflow: hidden;
        width: 100%;
        word-break: break-word;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        line-height: 20px;
      }
    }

    .board-preview-action {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 100%;
      height: 10px;

      .star-btn-container {
        opacity: 0; // Hidden by default
        transform: translateZ(0);
        transition: opacity 0.3s ease, width 0.3s ease, transform 0.15s ease, margin 0.3s ease;
        font-size: 14px;
        height: 18px;
        line-height: 18px;

        .star-btn {
          background: transparent;
          border: none;
          cursor: pointer;
          color: #fff;
          display: block;
          z-index: 10;
        }
      }
    }

    &:hover .star-btn-container {
      opacity: 1;
    }
  }
}

.board-preview-card.isStarred .board-prew-container .star-btn-container {
  opacity: 1 !important;
  width: 24px !important;
  transform: none !important;
  .star-icon {
    color: #e2b203;
  }
}
