.board-list-container {
  height: 150px;

  .board-list {
    .list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      li {
        display: block;
        background-color: transparent;
        //need here help to deside what look better !!!!!!!!
        margin: 0 2% 2% 0;
        // margin: 0 16.2px 16.2px 0;
        // padding: 0;
      }
    }
  }
  .add-board {
    padding: 8px 12px;
    width: rem(191px);
    height: rem(96px);
    display: flex;
    border: none;
    border-radius: rem(3px);
    background-color: #282c34;
    color: #b3bfcb;
    font-size: 14px;
    transition: background-color 0.3s;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    font-weight: 400;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
    }

    &:hover {
      background-color: #333c43;
    }
  }
}

.boards-container-stared-list {
  .add-board {
    display: none;
  }
}
