.dynamic {
	position: relative;
	border-radius: 8px;
	width: 304px;
	height: 500px;
	background-color: #282e33;
	z-index: 1001;
	padding: 8px;
	top: 25%;
	left: 62%;
	box-shadow: $ds-shadow-overlay, 0px 8px 12px #091e4226,
		0px 0px 1px #091e424f;

	.dynamic-header {
		display: grid;
		grid-template-columns: 32px 1fr 32px;
		grid-template-rows: max-content;

		padding: 0;
		text-align: center;
		width: 100%;

		background-color: inherit;
		color: inherit;
		cursor: default;

		h4 {
			display: block;
			grid-column: 1 / span 3;
			grid-row: 1;

			// margin: 0;
			font-size: 14px;
			align-self: end;			
		}

		button {
			grid-column: 3;
			grid-row: 1;
			display: flex;

			border-radius: 8px;
			color: inherit;
			padding: 8px;

			justify-self: end;

			svg {
				height: 16px;
				width: 16px;
			}

			&:hover {
				background-color: rgb(69 80 90);
			}
		}
	}

	.dynamic-body {
		display: block;
		padding-top: inherit;
	}
}
