.move-card {
	width: 100%;

	li {
		padding: 0;
	}

	.edit {
		box-sizing: border-box;
		border: 1px solid #8c9baa;
		border-radius: 3px;

		outline: none;

		width: 100%;
		margin-bottom: 0;
		margin-top: 2px;
		line-height: 20px;

		transition-timing-function: ease;
		padding: 8px 12px;
		background-color: #22272b;
		color: #8c9baa;
		box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
		transition-duration: 85ms;

		&:focus {
			outline: none;
			border: 2px solid #579dff;
		}
	}

	.add {
		// grid-area: txt;
		bottom: 0;
		position: relative;
		align-self: end;
		padding-top: 2px;

        line-height: 2rem;
        margin-top: 10px;
        padding-inline: 12px;
        font-weight: 30px;
        border-radius: 3px;
        border: none;
        margin-inline-end: 8px;

		background-color: #579dff;
		color: #22272b;

		&:hover {
			background-color: #85b8ff;
		}
	}
}
