// FLEX //

.group-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-block-end: rem(8px);
    width: rem(272px);
    max-height: 100%;
    // margin-block-end: 10px;

    border-radius: rem(12px);

    background-color: #101204;
    color: $txt-clr;

    .group-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(8px);

        h3 {
            padding: rem(6px) rem(8px) rem(6px) rem(12px);
            font-size: rem(14px);
            font-weight: 600;
            margin: 0;
        }

        .remove-group-btn {
            display: flex;
            align-items: center;
            padding: rem(4px);

            border-radius: rem(8px);

            &:hover {
                background-color: #282f27;
            }
        }

        svg {
            width: rem(16px);
            height: rem(16px);
        }
    }

    .group-cards {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        // min-height: 0;
        // max-height: calc(100% - rem(48px));
        // height: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;

        &.empty {
            align-items: center;
            justify-content: center;
        }

        &::-webkit-scrollbar {
            background-color: #091e420f;
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #323b36;
            border-radius: 5px;
        }
    }


    .group-footer {
        display: flex;
        align-items: center;
        padding: rem(8px) rem(8px) 0 rem(8px);
        gap: 8px;

        .add-card {
            gap: 8px;
            border-radius: rem(8px);

            font-size: 14px;

            svg {
                width: 16px;
                height: 16px;
            }

            & :hover {
                background-color: #282f27;
                cursor: pointer;
            }

            button {
                display: flex;
                align-items: center;

                gap: 8px;
                padding: rem(6px) rem(12px) rem(6px) rem(8px);
                width: rem(220px);
                height: rem(32px);
                align-self: flex-start;

                border-radius: rem(8px);

                color: $txt-clr;
            }
        }
    }

    .add-card-form {
        display: flex;
        flex-direction: column;
        gap: rem(8px);

        textarea {
            min-width: rem(256px);
            min-height: rem(56px);
            padding-inline: rem(12px);
            padding-block: rem(8px);

            border-radius: rem(8px);
            border-color: transparent;

            font-weight: 400;
            font-size: 1em;

            &::placeholder {
                color: #8c9baa;
            }
        }

        .add-card-actions {
            display: flex;
            align-items: center;
            gap: rem(4px);

        }

        .save-card-btn {
            padding-inline: rem(12px);
            padding-block: rem(6px);

            border-radius: rem(3px);

            color: #1d2125;
            background-color: #579dff;

            font-weight: 500;
            font-size: 1em;

            &:hover {
                background-color: #85b8ff;
            }
        }

        .cancel-add-btn {
            min-height: rem(32px);
            min-width: rem(32px);

            border-radius: rem(3px);

            color: $txt-clr;
            background-color: transparent;

            svg {
                width: rem(20px);
                height: rem(20px);
            }

            &:hover {
                background-color: #282f27;
            }
        }
    }
}