.group-list {
    display: flex;
    padding-inline-end: rem(12px);
    margin-block-start: rem(12px);

    >li {
        margin-right: rem(6px);
    }

    >li:last-child {
        margin-right: 0;
    }

    &.dragging-over {
        border-radius: rem(8px);
    }
}