.group-list {
    display: flex;
    padding-inline-end: rem(12px);
    margin-block-start: rem(12px);
    gap: rem(6px);

    &.dragging-over {
        border-radius: rem(8px);
    }

    .draggable-container {
        display: flex;
        flex-direction: column;
        transition: transform 0.2s;

        &.isDragging {
            background-color: transparent;
            opacity: 0.8;
            z-index: 10;
        }
    }
}