.group-list {
    display: flex;
    padding-inline: rem(6px);
    margin-block-start: rem(12px);
    scroll-margin: 8px;

    li {
        padding-inline: rem(6px);
        // max-height: rem(629px);

    }
}