// FLEX //

.group-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-block-end: rem(8px);

    width: rem(272px);
    // gap: rem(8px);

    border-radius: rem(12px);

    background-color: #101204;
    color: #b6c2cf;


    .group-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: rem(8px);
        padding-block: rem(8px);

        h3 {
            padding: rem(6px) rem(8px) rem(6px) rem(12px);
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }

        .remove-group-btn {
            display: flex;
            align-items: center;
            padding: rem(4px);

            border-radius: rem(8px);

            &:hover {
                background-color: #282f27;
            }
        }

        svg {
            width: rem(22px);
            height: rem(22px);

        }
    }

    .group-cards {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-grow: 1;

        &.empty {
            // height: rem(88px);
            align-items: center;
            justify-content: center;
        }
    }


    .group-footer {
        display: flex;
        align-items: center;
        padding: rem(8px) rem(8px) 0 rem(8px);
        gap: 8px;



        span {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: rem(6px) rem(12px) rem(6px) rem(8px);
            width: rem(220px);
            height: rem(32px);
            border-radius: rem(8px);

            font-size: 14px;
        }

        svg {
            width: 16px;
            height: 16px;
        }

        & span:hover {
            background-color: #252a1e;
            cursor: pointer;
        }
    }


}


// GRID //
// .group-details {
//     display: grid;
//     grid-template-rows: minmax(32px, auto) 1fr minmax(32px, auto);
//     padding: rem(8px);
//     gap: rem(8px);

//     // min-height: rem(88px);
//     // width: rem(272px);

//     border-radius: rem(12px);

//     align-items: center;
//     background-color: #101204;
//     color: #b6c2cf;


//     .group-header {
//         display: flex;
//         justify-content: space-between;
//         padding-inline: 4px;

//         h3,
//         span {
//             font-size: 14px;
//             font-weight: 600;
//         }
//     }

//     .group-cards {
//         display: flex;
//         flex-direction: column;
//         // gap:rem(8px);
//         overflow-y: auto;

//         &.empty{
//             height: 0;
//             // gap: 0;
//             align-items: center;
//             justify-content: center;

//         }
//     }


//     .group-footer {
//         display: flex;
//         align-items: center;

//         width: rem(220px);
//         height: rem(32px);

//         border-radius: rem(8px);

//         &:hover {
//             background-color: #252a1e;
//             cursor: pointer;
//         }
//     }


// }