.main-container {
  display: flex;
  flex-direction: column;
  
  .content-layout {
    display: flex;
    height: calc(100vh - 7rem);
    flex: 1 1 auto; // Takes up the remaining space below the header
    min-height: 0;

    main {
      flex: 1 1 0; // Fills the remaining space next to the sidebar
      min-width: 500px;
      display: flex;
      flex-direction: column;
    }
  }
}
